<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pmv02.ppr.yuichi10.github.com.joinevents" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SignIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" android:label="Home" />
        <activity android:name=".SignUP" android:label="signUp" />
        <activity android:name=".ThumbnailImage" android:label="ThumbnailImage"/>
        <activity android:name=".MakeGroup" android:label="MakeGroup"/>
    </application>
    <!-- 位置情報 GPSから -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 位置情報 ネットワークから -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!-- to connect internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
